*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root{
  height: 100%;
}

html,body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  color: #000;
  letter-spacing: 0.07px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  overflow: hidden;
}

input {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px !important;
  transition: all 0.2s;

}
button{
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s;
}
a {
  text-decoration: none;
  color: #000;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}